/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/03/2016, 22:41:40
    Author     : alessandro
*/
.tudo{width: 100%; }
.topo{width: 100%; margin: 0px; padding: 10px;}

.topo p { font-family: helvetica;font-size: 18px;}
.navbar{margin: 0px;}
footer{position: absolute;bottom: 0; width: 100%; margin: 0px; padding: 10px; background-color: #363636; color: #fff; height: 40px; text-align:  center;}

/*Backgrounds*/
.bg-padrao{background-color: #E0E0E0;}
.bg-padrao2{background-color: #33B5E5; color: #FFF;}
.bg-padrao3{background-color: #F7921E; color: #FFF;}
.bg-padrao4{background-color: #1C8CCA; color: #FFF;}
.bg-padrao5{background-color: #C53430; color: #FFF;}

